[Unit]
Description=HoldingsHub - Price Streamer (Development)
After=network.target

[Service]
Type=simple
Environment=NODE_ENV=development
EnvironmentFile=/opt/holdingshub/holdingshub-dev.env
WorkingDirectory=/opt/holdingshub
ExecStart=/usr/bin/npm run prices:stream --silent
Restart=always
RestartSec=5
# User=www-data
# Group=www-data

[Install]
WantedBy=multi-user.target
